html {
  margin: 0;
}
body {
  display: grid;
  grid-template-areas: 1fr 1280px 1fr/ 1fr 720px 1fr;
  justify-content: center;
  align-items: center;
}
nav {
  grid-area: 1/1/2/4;
  display: flex;
  justify-content: space-between;
  background-color: seagreen;
}
.gameContainer {
  grid-area: 2/2/3/3;
  width: 1280px;
  height: 720px;
  border: solid 3px black;
  background-color: rgb(159, 89, 180);
}
.top {
  margin: 25px 50px 25px 50px;
}
.gameGrid {
  display: grid;
  grid-template-areas: repeat(32, 1fr)/ repeat(18, 1fr);
}
.tileCon {
  display: grid;
  width: 100%;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}