html {
  margin: 0;
}
body {
  display: grid;
  grid-template-areas: 1fr 1280px 1fr/ 1fr 720px 1fr;
  justify-content: center;
  align-items: center;
}
nav {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 29%);
}
.gameContainer {
  grid-area: 2/2/3/3;
  width: 1280px;
  height: 720px;
  border: solid 3px black;
}
.top {
  margin: 25px 50px 25px 50px;
}
.gameGrid {
  display: grid;
  grid-template-areas: repeat(32, 1fr)/ repeat(18, 1fr);
  background-image: url('./mainbg.PNG');
  background-size: cover;
  background-position: center;
}
.tileCon {
  display: grid;
  text-align: center;
  justify-items: center;
  align-items: center;
  font-size: 14px;
  user-select: none;
}
.base {
  margin: 0;
  z-index: 1;
  grid-area: 10/12/17/22;
  background-image: url('./CommandCenter_SC1_Game1.png');
  background-size: contain;
  width: 100%;
  height: 100%;
  user-select: none;
}